<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PathInput" value="C:\Users\User2\source\repos\ConsoleApp1\textInput.txt"/>
    <add key="PathOutput" value="C:\Users\User2\source\repos\ConsoleApp1\textOutput.txt"/>
    <add key="BeginToken" value="&lt;body&gt; &lt;head&gt; &lt;title&gt; &lt;p&gt;"/>
    <add key="EndToken" value=  "&lt;/body&gt; &lt;/head&gt; &lt;/title&gt; &lt;/p&gt;"/>
    
    <add key="BeginToken2" value="&lt;area&gt; &lt;base&gt; &lt;embed&gt; &lt;hr&gt;"/>
    <add key="EndToken2" value=  "&lt;/area&gt; &lt;/base&gt; &lt;/embed&gt; &lt;/hr&gt;"/>
    
    <add key="BeginToken3" value="&lt;img&gt; &lt;input&gt; &lt;meta&gt; &lt;script&gt;"/>
    <add key="EndToken3" value=  "&lt;/img&gt; &lt;/input&gt; &lt;/meta&gt; &lt;/script&gt;"/>

  </appSettings>
</configuration>