<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PathInput" value="C:\Users\User2\source\repos\ConsoleApp1\textInput.txt"/>
    <add key="PathOutput" value="C:\Users\User2\source\repos\ConsoleApp1\textOutput.txt"/>
    <add key="BeginWord" value="&lt;body&gt; &lt;head&gt; &lt;title&gt; &lt;p&gt;"/>
    <add key="EndWord" value=  "&lt;/body&gt; &lt;/head&gt; &lt;/title&gt; &lt;/p&gt;"/>

  </appSettings>
</configuration>