body {
}
#menu ul {
    list-style: none;
    margin-left: -20px;
}

#menu ul li
{
    background-color:cornflowerblue;
    border:solid 1px white;
    width: 150px;
    height:35px;
    text-align:center;
    line-height:35px;
    float:left;
}
#menu ul li a
{
    text-decoration:none;
    color:#ffffff;
    display:block;
}
#menu ul li a:hover
{
    background-color: #ff6a00;
    color:#ffffff;
}

.odd {
    background-color: #d9d6d6;
    color: #000000;
}